<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Only used to ask GitHub whether a newer version exists -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Silent notifications that make a connected smartwatch buzz (asked for only when switched on) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- "Do Not Disturb while speaking" (the user grants this in system settings) -->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpeechSplit">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SpeechSplit"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboardHidden|density"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- "Open with" / "Share to" Speech Split for a speech document -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/pdf" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                <data android:mimeType="application/vnd.oasis.opendocument.text" />
                <data android:mimeType="application/rtf" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/markdown" />
            </intent-filter>
        </activity>

        <!-- Switches Do Not Disturb back off if the app is swiped away mid-speech -->
        <service
            android:name=".platform.DndGuardService"
            android:exported="false"
            android:stopWithTask="false" />
    </application>

</manifest>